{
  "extends": "@ivangabriele/eslint-config-typescript-base",
  "ignorePatterns": ["build/*"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": ["error", { "allow": ["error", "info", "warn"] }],

    "import/no-extraneous-dependencies": "off"
  }
}
