.rpt2_cache/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
!out/extension.js
scripts/**
src/**
typings/**

.editorconfig
.gitignore
.travis.yml
rollup.config.js
test.Dockerfile
tsconfig.json
tslint.json
yarn.lock

*.log
*.svg
*.vsix
